.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c2c1c1;
  color: var(--color-text);
  padding: 10px 5px;
}
.icono-DH img {
  width: 30px; 
  height: auto; 
  margin-right: 10px;}

.btn-theme img{
  border-radius: 0px;
}
  
  .navbar a {
    text-decoration: none;
    color: inherit;
    padding: 0 5px;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: var(--color-accent);
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar li:not(:last-child) {
    align-items: center;
    margin-right: 40px; 
  }


 